@import url('https://fonts.googleapis.com/css2?family=Anta&family=Silkscreen:wght@400;700&family=Sixtyfour&display=swap');


/**
 * GLOBAL STYLING [ELEMENTS]
 */
#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  --rt-color-white: #a2eaa2;
  --rt-opacity: 1;
}

body {
  background: #000000;
}

header {
  width: 100%;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr{
  border-color: #a2eaa2;
}
body,
p {
  margin: 0;
  padding: 0;
  color: #a2eaa2;
}

::placeholder {
  color: #537953
}

button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #a2eaa2;
  color: black;
  border: 2px solid #a2eaa2;
  font-family: 'Silkscreen', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  font-family: 'Silkscreen', monospace;
  font-size: .8rem;
}

label {
  text-align: left;
  margin: 0 10px;
}

input[type=text] {
  background-color: #494949;
  border: 1px solid #a2eaa2;
  font-family: 'Anta', monospace;
  color: #a2eaa2;
}

input[type=text]:focus {
  outline: none;
}

form {
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 0 0 5px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sixtyfour', monospace;
  text-transform: uppercase;
  color: #a2eaa2;
  font-weight: 100;
}

p,
label,
input[type=text] {
  font-family: 'Silkscreen', monospace;
}

h5 {
  margin: 0;
}

/**
 * MAIN LAYOUT STYLING
 */
#main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1;
  width: 100%;
  margin: auto
}

#content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-top: 100px;
}

/**
 * LOADING ICON ANIMATION
 */
.loader {
  animation: rotate-loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(3);
}

/**
 * BUTTONS
 */

.secondary-button {
  background-color: black;
  color: #a2eaa2;
  border: 1px solid #a2eaa2;
  margin-top: 20px;
}

.secondary-button:hover {
  background-color: #a2eaa2;
  color: black;
  border: 1px solid #a2eaa2;
  margin-top: 20px;
}

button:hover {
  background-color: black;
  color: #a2eaa2;
}


/**
 * CUSTOM TOOLTIP STYLING
 */
#main-content .custom-tooltip,
body .custom-tooltip {
  background-color: #a2eaa2;
  color: black;
  font-family: 'Silkscreen', monospace;
  font-size: .8rem;
  z-index: 100;
}


/**
 * CUSTOM SIMULATED CURSOR EFFECT
 */
.flashing-cursor {
  border-left: 5px solid #a2eaa2;
  display: inline-block;
  height: 15px;
  width: 2px;
  animation: flash-cursor 1s infinite;
}

/**
 * CUSTOM ICON STYLING
 */
.custom-icon {
  vertical-align: middle;
}


/**
 * DEBUG STYLING
 */
.debug-container {
  background-color: #507450;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

/**
 * MAP
 */
.map-parent{
  position: relative;
}
.map-details-container{
  position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    width: 50%;
    padding-right:10px;
    overflow-y: scroll;
  }
.map-details-container>ul{
  list-style: none;
  margin-top:30px;
}
.map-details-container h1{
  font-size:1.1rem;
}
.map-details-container h2{
  font-size:.8rem;
}
.close-district-details-button{
  width: fit-content;
  height: fit-content;
}
.info-swap-buttons{
  display: flex;
    margin: 20px 0;
    gap: 5px;
    justify-content: center;
}
.info-swap-buttons button{
  width:fit-content;
  height:fit-content;
}
.exit-details-button-container{
  position: sticky;
    height: fit-content;
    top: 0;
    background-color: #a2eea2;
    display: flex;
    justify-content: flex-end;
}
.active-details{
  background-color:black;
  color:#a2eaa2
}
.active-details::before{
  content: ">";
  animation: before-tick 1s steps(2)  infinite ;

}
.active-details::after{
  content: "<";
  animation: after-tick 1s steps(2)  infinite ;
}
.change-district-button{
  width: fit-content;
  height: fit-content;
}
.change-district-button-container{
  display:flex;
  justify-content: center;
}
/**
 * ANIMATIONS
 */
@keyframes after-tick {
  to {
    translate: 3px 0;
  }
}

@keyframes before-tick {
  to {
    translate: -3px 0;
  }
}
@keyframes newMessageFloat {
  50% {
    top: 5px;
  }

}

@keyframes welcomeMessageAnimation {
  0% {
    translate: 0 30px;
    opacity: 0;
  }

  100% {
    translate: 0;
    opacity: 1;
  }
}

@keyframes welcomeHeaderAnimation {
  0% {
    translate: 0 -30px;
    opacity: 0;
  }

  100% {
    translate: 0;
    opacity: 1;
  }
}

@keyframes opacity-slide-in {
  0% {
    opacity: 0;
    translate: -50% -100px
  }

  100% {
    opacity: 1;
    translate: -50% 100px
  }
}

@keyframes slide-out {
  to {
    translate: -50% -1000px;
  }
}

@keyframes rotate-loader {
  to {
    rotate: 360deg;
  }
}

@keyframes open-transcript {
  0% {
    translate: 100% 0;
  }

  100% {
    translate: 0;
  }
}

@keyframes typewriter {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes cursor-blink {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(0, 0, 0);
  }
}

@keyframes transcript-slide-out {
  0% {
    translate: 0;
  }

  100% {
    translate: 0 110%;
  }
}

@keyframes bulge {
  50% {
    scale: 1.2;
  }
}

@keyframes flash-cursor {
  to {
    border-left: none;
  }
}


/**
 * BREAKPOINTS
 */
@media (max-width:480px) {
  #desktop-nav {
    justify-content: center;
  }

  .mobile-nav-element {
    display: flex;
  }

  .desktop-nav-element {
    display: none;
  }

  #mobile-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }


}