.transcript-container {
  border: 1px solid #a2eaa2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex-basis: 700px;
  margin: 0 0 10px 10px;
}

#transcript-close-button {
  cursor: pointer;
  margin: 10px;
  border: 1px solid #a2eaa2;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  width:fit-content;
  height:fit-content;
}

.transcript-text {
  width: 70%;
  padding: 10px;
  border: 1px solid #a2eaa2;
  font-size: .8rem;

}

.interviewee-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  font-size:.8rem;
}

.interviewee-details> .details-row {
  border: 1px solid #a2eaa2;
  margin: 2px 0;
  text-align: left;
  width: 100%;
  padding: 10px;
}

.review-box-section-header {
  text-decoration: underline;
}

.badge {
  width: 50px;
  height: 50px;
  border: 1px solid #a2eaa2;
  margin: 5px 5px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .3s;
  font-family: 'Silkscreen', monospace;

}

.passes-container {
  display: flex;
  align-items: center;

}

.location-pass-container,
.recreation-pass-container {
  display: flex;
  border-top: 2px solid #a2eaa2;
  border-right: 2px solid #a2eaa2;
  border-left: 2px solid #a2eaa2;
  margin: 0 10px;

}

.badge:hover {
  scale: 1.1;

}
#weather-container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}

.decision-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.decision-container>div {
  margin-top: 10px;
  border: 1px solid #a2eaa2;
  border-bottom: 0;
  border-left: 0;
  padding: 20px;
  width: 50%;

}

.decision-container>div:last-child {

  border-right: 0;
}

.decision-container>div:hover {
  cursor: pointer;
  background-color: #a2eaa2;
  color: black;
}

#evidence-box {
  display: flex;
  flex-direction: column;
}

.current-selected-item::after  {
  content:"<";
  animation: after-tick 1s infinite steps(2);
}
.current-selected-item::before{
  content: ">";
  animation: before-tick 1s  infinite steps(2);
}
#no-case-text{
     animation: toggle-visible 2s  infinite steps(5);
}
.transcript-list-item {
  border: 1px solid #c4c4c0;
  display: flex;
  list-style: none;
  padding: 10px;
  justify-content: space-between;
  transition: .2s;
  margin-bottom: 2px;
  width:100%;
  background-color:unset;
  color:#a2eaa2;
}

.transcript-list-item span {
  display: block;
}

.transcript-list-item:hover {
  translate: 5px 0;
  cursor: pointer;

}

.transcript-list {
  flex-basis: 400px;
  margin: 0;
  padding: 0;
}
#case-list-container{
    flex-basis:300px;
}
#search-console-container {
  display: flex;
  padding: 10px;
  border: 1px solid #a2eaa2;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  padding-top: 40px;

}

#search-console-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #a2eaa2;
  display: flex;
  justify-content: space-between;

}

#search-console-header>p {
  margin: 5px;
}

#search-input-container {
  width: 50%;
  display: flex;
  flex-direction: column;

}

#search-result-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 150px;
}

.search-result-item,
#id {
  border: 1px solid black;
  margin: 5px 0;
  padding: 5px;
  font-size: .7rem;
  list-style: none;
  transition: .3s;
  display: flex;
  justify-content: space-between;
}

.legal-item-result {
  background-color: #a2eaa2;
}

.illegal-item-result {
  background-color: coral;
}

#search-key {
  font-size: .6rem;
  text-align: left;
}

.search-result-item:hover {
  padding: 8px;
  filter: hue-rotate(20deg)
}

.item-search-icon {
  color: white;
}

#search-result-container>ul {
  padding: 0;
  margin: 0;
}

#processed-text {
  margin: 20px;
  font-weight: bolder;
}

.negative-text {
  color: #a2eaa2;
  text-decoration: underline;
}

.positive-processed-item {
  background-color: #a2eaa2;
  color: black;
}

.negative-processed-item {
  background-color: #507450;
  color: black;
}

#top-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding-bottom: 50px;
  min-height: 600px;
}

#interviews-list-header {
  list-style: none;
  padding: 10px 0;
  border: 1px solid #a2eaa2;
  margin-bottom: 10px;
  
  color: #a2eaa2;
  font-size: 1rem;
}
.review-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .75);
  z-index: 100;
  animation: open-transcript 1s 1 forwards;
}

#summary-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border: 2px solid #c4c4c0;
}

#summary-container>p {
  margin: 20px;
}

#codex {
  width: 70%;
}

#codex-list {
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: left;
}

#codex-list>li {
  margin: 20px;
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}

#codex-list ul>li {
  margin: 10px 0;
}

#codex-list ul {
  list-style: none;
}

.codex-section-title {
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}

#side-panel {
 border: 1px solid #a2eaa2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex-basis: 700px;
  margin: 0 0 10px 10px;
  animation: open-transcript;
  animation-duration: 1s;
}

#side-panel.codex-enter {
  left: 0;
}

#side-panel.codex-exit {
  left: -100%;
}

#codex-button {
  padding: 10px;
  border: 1px solid #a2eaa2;
  margin-top: 10px;
  cursor: pointer;
}

#codex-button:hover {
  background-color: #a2eaa2;
  color: black;
}

#search-results-header {
  background-color: #a2eaa2;
  padding: 10px 0;
  color: black;
  border: 1px solid #a2eaa2;

}

.slide-out-class {
  animation: transcript-slide-out .6s  1 forwards steps(7);
}

.open-transcript-class {
  animation: open-transcript .6s 1 forwards steps(4);
}

.current-selected-item::after  {
  content:"<";
}
.current-selected-item::before{
  content: ">";
}



#transcript-review>p {
  margin: 20px;
}

#reminder-p {
  font-size: .6rem;
}
.search-input {
  height: 25px;
  padding: 10px;
  margin: 10px;

}
.no-case-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
@keyframes after-tick {
    to{
        translate:3px 0;
    }
}
@keyframes before-tick {
    to{
        translate:-3px 0;
    }
}
@keyframes toggle-visible {
  
    to{
        color: black;
    }
}