#error-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index:200;
    display: flex;
    justify-content: center;
    align-items: center;
}
#error-box{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #a2eaa2;
    flex-direction: column;
    gap:20px;
    padding:10px;
    max-width:300px;
}