#city-map{
  margin-bottom:50px;
  margin-top:80px;
}
.scan-line-overlay{
pointer-events: none;
}
.scan-line{
 width: 2000px;
 translate: -50% -50%;
}
#scan-line-map{
  filter:contrast(2) brightness(2);
   pointer-events: none;
}
.hotspot{
  opacity: 0;
  transition: .3s;

}
.scan-path{
  stroke: white;
}
.scanning-text{
  font-family:'Silkscreen', monospace;
  fill:#a2eaa2;
}
.small-city-string{
  
  font-family:'Silkscreen',monospace;
  fill:#a2eaa2;
}
.map-text-left{
  transform:skewY(27deg);
}
.map-text-right{
  transform:skewY(344deg);
}
.hotspot:hover{
fill: lightgreen;
opacity: .5;
filter: drop-shadow(0px -20px 2px rgb(181, 255, 181)) ;
cursor: pointer;
}
.hotspot:focus{
outline: none;
}
.hotspot:focus-visible{
fill: lightgreen;
opacity: .5;
filter: drop-shadow(0px -20px 2px rgb(181, 255, 181)) ;
cursor: pointer;
outline:none;
}