.score-tracker-button{
    width: fit-content;
    height: fit-content;
    background-color: black;
    color: #a2eaa2;
    padding: 5px;
}
#tutorial-toggle-button{
    width:fit-content;
    height:fit-content;
}
#interactive-nav-el-container{
    display: flex;
    gap: 10px;
    align-items: center;
}
#tutorial-toggle-button{
    z-index:100;
}
.available-commands-button {
  height: 39px;
  width: 40px;
  border: 1px solid #a2eaa2;
  border-left: none;
  line-height: 2.8rem;
}

.nav-form {
  display: flex;
  position: relative;
  align-items: center;
}

