.command-container div{
    color:red;
}
.commands-heading{
    color:black;
  
}
#command-centre-input {
  height: 40px;
  border: 1px solid #a2eaa2;
  width: 80%;
  padding: 10px;
  font-size: 1.2rem;
}

#command-centre-submit-button {
  height: 62px;
  width: 70px;
  border: 1px solid #C4C4C0;
  border-left: none;
  line-height: 4.7rem;
}

#command-centre-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0 10px 0;
}

#command-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.command-row {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-size: .8rem;
  width:90%;
}



.commands-container {
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #a2eaa2;
    margin: 20px auto;
}




#commands-header {
  background-color: #a2eaa2;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#commands-header h6{
    margin-left:10px;
}
#leave-req-p {
  color: #a2eaa2;
  text-decoration: underline;
}
.commands-list{
    padding:0;
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}