#tutorial-overlay{
  position:fixed;
  background-color: rgba(0, 0, 0, .7);
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:90;
}

#tutorial-start-container{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}
.tutorial-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top:10px;
}
.tutorial-button{
    width:fit-content;
    height:fit-content;
    border:1px solid black;
}
.tutorial-button:focus-visible{
    outline:2px solid;
}
.x-container{
    width:100%;
    display: flex;
    justify-content: flex-start;
}
.tutorial-close-x{
    translate:-15px -5px;
    width: fit-content;
    height: fit-content;
    background-color: none;
}
.tutorial-highlight{
    position:relative;
    z-index: 110;
    pointer-events: none;
}