#upgrade-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upgrade-shop-header {
  background-color: black;
  width: 100%;
}

#personal-record-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}
#personal-record-button button{
    width:fit-content;
    height: fit-content;

}

#upgrade-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

}

#upgrade-items-container ol {
  list-style: none;
  padding: 0;
  width: 100%;
}

#upgrade-items-container li {
  transition: .6s;
}

#visit-upgrades-button{
  margin-top:30px;
}

#upgrade-items-container li:hover  .upgrade-name::after{
  content: " <";
  animation: after-tick 1s  infinite steps(2);
  display: inline-block;
}
#upgrade-items-container li:hover  .upgrade-name::before{
  content: "> ";
  animation: before-tick 1s  infinite steps(2);
    display: inline-block;

}

.upgrade-box {
  border: 1px solid #a2eaa2;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: .8s;
  margin: 3px 0;
  gap: 20px;
}

.upgrade-box:focus-visible,
.upgrade-box:hover {
  background-color: black;
  color: #a2eaa2;

}

.purchase-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}

.purchased-unlock-class {
  background-color: #a2eaa2;

}

.upgrade-desc {
  margin: 20px 0;
}

#upgrade-error {
  color: #a2eaa2;
  text-decoration: underline;
  font-size: 1rem;
  animation: bulge .8s;
}

@keyframes after-tick {
    to{
        translate:10px 0;
    }
}
@keyframes before-tick {
    to{
        translate:-10px 0;
    }
}