#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body,
p {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

button {
  cursor: pointer;
}

input[type=text] {
  height: 25px;
  padding: 10px;
  font-family: monospace;
  width: 90%;
  border-right: 0;
  border-style: solid;

}

input[type=text]:focus {
  outline: none;

}

label {
  display: block;
}

form {
  text-align: left;
  width: 100%;
}

h1 {
  font-family: monospace;
  font-size: 2rem;
  margin: 0 0 5px 0;
}

h5 {
  margin: 0;
}

#welcome-message {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typewriter 2s steps(40, end),
    cursor-blink .75s step-end infinite;
  border-right: 2px solid black;
  font-size: 1rem;
  margin-bottom: 10px;
}

#login-typing-container {
  width: 270px;
}

#command-typing-container {
  width: 390px;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  max-width: 900px;
  margin: auto
}

#login {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#login-submit-button {
  height: 49px;
  width: 15%;
  border: 0;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0 10px 10px 0;
  padding: 0;
  background-color: rgb(207, 207, 207);
  color: white;
}

#login-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#command-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.command-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: none;
}

.commands-container:last-child {
  border-bottom: 1px solid black;
}

#leave-req-p {
  margin: 20px;
  color: red;
}

#transcript-review>p {
  margin: 20px;
}

#reminder-p {
  font-size: .6rem;
}

.transcript-list-item {
  border: 1px solid black;
  display: flex;
  list-style: none;
  padding: 10px;
  justify-content: space-between;
  transition: .2s;
  margin-bottom: 2px;
}

.transcript-list-item span {
  display: block;
}

.transcript-list-item:hover {
  scale: 1.01;
  background-color: rgb(231, 248, 254);
  cursor: pointer;

}

.transcript-container {
  height: 500px;
  border: 2px dashed black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  animation: open-transcript .6s 1 forwards;
  position:relative;
}

#transcript-close-button {
  cursor: pointer;
  margin: 10px;
  border-top: 2px solid black;
  width: 100%;
  padding: 5px 0;
}

.interviewee-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
}

.interviewee-details>p {
  border: 1px solid black;
  margin: 2px 0;
  text-align: left;
  width: 100%;
  padding: 10px;
}

.badge {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 5px 5px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .3s;
}

.passes-container {
  display: flex;
  align-items: center;

}

.location-pass-container,
.recreation-pass-container {
  display: flex;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  margin: 0 10px;

}

.badge:hover {
  scale: 1.1;

}

#weather-container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}

@keyframes open-transcript {
  0% {
    height: 0;
  }

  100% {
    height: 500px;
  }
}

@keyframes typewriter {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes cursor-blink {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(0, 0, 0);
  }
}