@import url('https://fonts.googleapis.com/css2?family=Anta&family=Silkscreen:wght@400;700&family=Sixtyfour&display=swap');

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  --rt-color-white: #a2eaa2;
  --rt-opacity: 1;
}

body {
  background: #000000;
}

.tooltip {
  font-family: 'Silkscreen', monospace;
}

body,
p {
  margin: 0;
  padding: 0;
  color: #a2eaa2;
}

::placeholder {
  color: #537953
}

button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #a2eaa2;
  color: black;
  border: 2px solid #a2eaa2;
  font-family: 'Silkscreen', monospace;
}

#main-content .custom-tooltip {
  background-color: #a2eaa2;
  color: black;
  font-family: 'Silkscreen', monospace;
  font-size: .8rem;
}

button:hover {
  background-color: black;
  color: #a2eaa2;
}

li {
  font-family: 'Silkscreen', monospace;
  font-size: .8rem;
}

label {
  text-align: left;
  margin: 0 10px;
}

#slug-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  translate: -50%;
}

#transcript-rev-command,
#comsec-command,
#admin-name {
  height: 25px;
  padding: 10px;
  width: 90%;
  border-right: 0;
  border-style: solid;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-input {
  height: 25px;
  padding: 10px;
  margin: 10px;

}





nav {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center;
  width:100%;

}

#nav-login-button {
  height: fit-content;
  width: fit-content;
}

input[type=text] {
  background-color: #494949;
  border: 1px solid #a2eaa2;
  font-family: 'Anta', monospace;
  color: #a2eaa2;

}

input[type=text]:focus {
  outline: none;

}

label {
  display: inline-block;
}

form {
  text-align: left;
  width: 100%;
  margin: 0;

}


h1 {
  font-size: 2rem;
  margin: 0 0 5px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sixtyfour', monospace;
  text-transform: uppercase;
  color: #a2eaa2;
  font-weight: 100;
}

p,
label,
input[type=text] {
  font-family: 'Silkscreen', monospace;
}

h5 {
  margin: 0;
}

#welcome-message {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typewriter 2s steps(40, end),
    cursor-blink .75s step-end infinite;
  border-right: 2px solid black;
  font-size: 1rem;
  margin-bottom: 10px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#login-typing-container {
  width: 270px;
}

#command-typing-container {
  width: 390px;
  margin: auto;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1;
  width: 100%;

  margin: auto
}

#content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

#login {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#login-submit-button {
  height: 49px;
  width: 15%;
  border: 0;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0 10px 10px 0;
  padding: 0;
  background-color: #a2eaa2;
  color: white;
}

#login-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

#about-header {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
}

#about-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-container {
  padding: 0 20px;
}

#about-container p {
  margin: 10px 0;
}

#command-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.visible-class {
  visibility: visible;
}

.non-visible-class {
  visibility: hidden;
}

.command-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: none;
  background-color: #a2eaa2;
  margin-top: 5px;

}

.command-container p,
#commands-header p {
  color: black;
}

#commands-header {
  gap: 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.commands-container {
  width: 90%;
  margin-top: 50px;
}

#commands-header #header-div {
  flex: 1;
  font-family:'Sixtyfour', monospace;
}
#commands-header #header-div p {
  font-family:'Sixtyfour', monospace;
  text-transform: uppercase;
  font-size: .8rem;;
}


#commands-header div {
  background-color: #a2eaa2;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;

}

.commands-container:last-child {
  border-bottom: 1px solid black;
}

#leave-req-p {
  color: #a2eaa2;
  text-decoration: underline;
}

#transcript-review {
  width: 100%;
}

#transcript-review>p {
  margin: 20px;
}

#reminder-p {
  font-size: .6rem;
}

.transcript-list-item {
  border: 1px solid #c4c4c0;
  display: flex;
  list-style: none;
  padding: 10px;
  justify-content: space-between;
  transition: .2s;
  margin-bottom: 2px;
}

.transcript-list-item span {
  display: block;
}

.transcript-list-item:hover {
  translate: 5px 0;
  cursor: pointer;

}

#transcript-list {
  flex-basis: 300px;
  margin: 0;
  padding: 0;
}

.transcript-container {
  border: 2px solid #c4c4c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex-basis: 800px;
  margin: 0 0 10px 10px;
}

#transcript-close-button {
  cursor: pointer;
  margin: 10px;
  border: 1px solid #a2eaa2;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.transcript-text {
  width: 70%;
  padding: 10px;
  border: 1px solid #a2eaa2;
  font-size: .8rem;

}

.interviewee-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
}

.interviewee-details>p {
  border: 1px solid #a2eaa2;
  margin: 2px 0;
  text-align: left;
  width: 100%;
  padding: 10px;
}

.review-box-section-header {
  text-decoration: underline;
}

.badge {
  width: 50px;
  height: 50px;
  border: 1px solid #a2eaa2;
  margin: 5px 5px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .3s;
  font-family: 'Silkscreen', monospace;

}

.passes-container {
  display: flex;
  align-items: center;

}

.location-pass-container,
.recreation-pass-container {
  display: flex;
  border-top: 2px solid #a2eaa2;
  border-right: 2px solid #a2eaa2;
  border-left: 2px solid #a2eaa2;
  margin: 0 10px;

}

.badge:hover {
  scale: 1.1;

}

#weather-container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}

.decision-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.decision-container>div {
  margin-top: 10px;
  border: 1px solid #a2eaa2;
  border-bottom: 0;
  border-left: 0;
  padding: 20px;
  width: 50%;

}

.decision-container>div:last-child {

  border-right: 0;
}

.decision-container>div:hover {
  cursor: pointer;
  background-color: #a2eaa2;
  color: black;
}

#evidence-box {
  display: flex;
  flex-direction: column;
}

.loader {
  animation: rotate-loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#search-console-container {
  display: flex;
  padding: 10px;
  border: 1px solid #c4c4c0;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  padding-top: 40px;

}

#search-console-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #c4c4c0;
  display: flex;
  justify-content: space-between;

}

#search-console-header>p {
  margin: 5px;
}

#search-input-container {
  width: 50%;
  display: flex;
  flex-direction: column;

}

#search-result-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 150px;
}

.search-result-item,
#id {
  border: 1px solid black;
  margin: 5px 0;
  padding: 5px;
  font-size: .7rem;
  list-style: none;
  transition: .3s;
  display: flex;
  justify-content: space-between;
}

.legal-item-result {
  background-color: #a2eaa2;
}

.illegal-item-result {
  background-color: coral;
}

#search-key {
  font-size: .6rem;
  text-align: left;
}

.search-result-item:hover {
  padding: 8px;
  filter: hue-rotate(20deg)
}

.item-search-icon {
  color: white;
}

#search-result-container>ul {
  padding: 0;
  margin: 0;
}

#processed-text {
  margin: 20px;
  font-weight: bolder;
}

.negative-text {
  color: #a2eaa2;
  text-decoration: underline;
}

.positive-processed-item {
  background-color: #a2eaa2;
  color: black;
}

.negative-processed-item {
  background-color: #507450;
  color: black;
}

#top-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding-bottom: 50px;
  min-height: 600px;
}

#interviews-list-header {
  list-style: none;
  padding: 10px 0;
  border: 1px solid #a2eaa2;
  margin-bottom: 10px;
  background-color: #a2eaa2;
  color: black;
  font-size: 1rem;
}

#search-results-header {
  background-color: #a2eaa2;
  padding: 10px 0;
  color:black;
  border: 1px solid #a2eaa2;

}

.slide-out-class {
  animation: transcript-slide-out .6s ease-out 1 forwards;
}

.open-transcript-class {
  animation: open-transcript .6s 1 forwards;
}

.current-selected-item {
  border-right: 3px solid #2c3e50
}


/* 
REVIEW OVERLAY
*/
.review-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .75);
  z-index: 100;
  animation: open-transcript 1s 1 forwards;
}

#summary-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border: 2px solid #c4c4c0;
}

#summary-container>p {
  margin: 20px;
}

#codex {
  width: 70%;
}

#codex-list {
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: left;
}

#codex-list>li {
  margin: 20px;
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}

#codex-list ul>li {
  margin: 10px 0;
}

#codex-list ul {
  list-style: none;
}

.codex-section-title {
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}

#side-panel {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 50%;
  background-color: white;
  z-index: 99;
  border-right: 3px solid black;
  padding-top: 50px;
  text-align: center;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-panel.codex-enter {
  left: 0;
}

#side-panel.codex-exit {
  left: -100%;
}

#codex-button {
  padding: 10px;
  border: 1px solid #a2eaa2;
  margin-top: 10px;
  cursor: pointer;
}

#codex-button:hover {
  background-color: #a2eaa2;
  color: black;
}

#item-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;

}

.item-grid-item {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}


/*//////////////////////////////
Voucher shop
///////////////////////////*/
#voucher-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#voucher-shop-header{
  background-color: #a2eaa2;
    width: 100%;
    color: black;
}
#voucher-shop-header h2{
color:black;
}
#voucher-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

}

#voucher-items-container ol {
  list-style: none;
  padding: 0;
  width: 100%;
}

#voucher-items-container li {
  transition: .6s;
}

#voucher-items-container li:hover {
  margin: 10px 0;
}

.voucher-box {
  border: 1px solid #a2eaa2;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: .8s;
  margin: 3px 0;
  gap: 20px;
}

.voucher-box:focus-visible,
.voucher-box:hover {
  background-color: black;
  color: #a2eaa2;

}

.purchase-button {
  text-align: right;
  margin: 20px;
}

.purchased-unlock-class {
  background-color: #a2eaa2;

}

.voucher-desc {
  margin: 20px 0;
}

#voucher-error {
  color: #a2eaa2;
  text-decoration: underline;
  font-size: 1rem;
  animation: bulge .8s;
}

/*//////////////////////////////
Inbox
////////////////////////*/

#inbox-parent {
  min-height: 600px;
  border: 2px solid #a2eaa2;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#inbox-parent h2 {
  margin: 0;
}

#inbox-header {
  padding: 10px;
  border-bottom: 1px solid #a2eaa2;
  overflow: hidden;
}

#inbox-content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

#inbox-sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  border-right: 2px solid #a2eaa2;
  overflow-y: scroll;
}

#inbox-sidebar ul {
  margin: 0;
  padding: 0;
}

#inbox-sidebar li {
  padding: 20px;
  margin: 0;
  list-style: none;
  display: block;
  border-bottom: 1px solid #a2eaa2;
  height: 50px;
  background-color: black;
}

#inbox-sidebar #message-check-button {
  height: fit-content;
  background-color: #a2eaa2;
  text-align: center;
  color:black;
  margin: 10px;
  border: 2px solid #a2eaa2;
}

#inbox-sidebar #message-check-button:hover {
  background-color: black;
  color:#a2eaa2;
}

#inbox-sidebar li:hover {
  background-color: #a2eaa2;
  color:black;
  cursor: pointer;
}

#inbox-message-viewer {
  padding: 20px;
  flex-basis: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#inbox-message-viewer>h3>span {
  font-weight: 100;
}

.sender-name {
  margin-top: 50px;
  font-weight: bolder;
  font-size: .8rem;

}

.email-para {
  margin-top: 30px;
    font-family: 'Silkscreen',monospace;
}

.email-body-p {
  margin-top: 15px;
  line-height: 1.2rem;
}

.bold {
  font-weight: bolder;
  text-decoration: underline;
}



/*
NAV styling
*/
.error-text {
  color: #a2eaa2;
  text-decoration: underline;
  margin-right:10px;
}

#slug-p {
  margin-right: 20px;
  font-size: .7rem;
}

#slug-p>span {
  font-style: italic;
}

#nav-text-input {
  height: 35px;
  border: 1px solid #a2eaa2;
  padding: 1px 10px;
}

#nav-submit-button {
  height: 39px;
  width: 70px;
  border: 1px solid #a2eaa2;
  border-left: none;
  line-height: 2.8rem;
}

#available-commands-button {
  height: 39px;
  width: 40px;
  border: 1px solid #a2eaa2;
  border-left: none;
  line-height: 2.8rem;
}

#nav-form {
  display: flex;
  position: relative;
  align-items: center;
}

#sound-control {
  cursor: pointer;
}

#new-message-container {
  border: 1px solid #a2eaa2;
  width: fit-content;
  position: absolute;
  padding: 20px;
  translate: -50% 100px;
  left: 50%;
  top: 0;
  background-color: black;
  transition: .6s;
}

#notification-text-container:hover {
  outline: 1px solid;
}

.new-message-float {
  animation: newMessageFloat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.new-message-entrance {
  animation: opacity-slide-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.new-message-exit {
  animation: slide-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#close-new-message {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#notification-text-container {
  cursor: pointer;
  transition: .6s;
  padding: 5px;
}

#commands-list-container {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px dashed black;
}

#commands-list-container li {
  list-style: none;
}

#commands-list-container ol {
  padding: 10px;
}

/*
Command centre input
*/
#command-centre-input {
  height: 40px;
  border: 1px solid #a2eaa2;
  width: 80%;
  padding: 10px;
  font-size: 1.2rem;
}

#command-centre-submit-button {
  height: 62px;
  width: 70px;
  border: 1px solid #C4C4C0;
  border-left: none;
  line-height: 4.7rem;
}

#command-centre-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0 10px 0;
}


/*
WELCOME SCREEN
*/

#welcome-screen h1 {
  font-size: 3rem;
  animation: welcomeHeaderAnimation;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

#welcome-screen p {
  animation: welcomeMessageAnimation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: backwards;

}

#welcome-screen {
  /* border:1px solid #C4C4C0; */
  padding: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 500px;
  margin: auto;
  border-radius: 20px;

}

/*
ACTIVITY GRAPH
*/
#activity-graph-container{
  display:flex;
  justify-content: center;
  margin:20px auto 0 auto;
  flex-wrap: wrap;
  width: 80%;
}
.node{
  width:10px;
  height:10px;
  background-color:red;
  margin:5px;
  transition:.6s;
}
.intensity-1{
  background-color:#507450
}
.intensity-2{
  background-color: #a2eaa2;
}
.intensity-3{
  background-color: #494949;
}
#graph-key{
  flex:1;
  flex-basis:100%;
}

#key-element-container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:.6rem;
  gap:10px;

}
@keyframes newMessageFloat {
  50% {
    top: 5px;
  }

}

@keyframes welcomeMessageAnimation {
  0% {
    translate: 0 30px;
    opacity: 0;
  }

  100% {
    translate: 0;
    opacity: 1;
  }
}

@keyframes welcomeHeaderAnimation {
  0% {
    translate: 0 -30px;
    opacity: 0;
  }

  100% {
    translate: 0;
    opacity: 1;
  }
}

@keyframes opacity-slide-in {
  0% {
    opacity: 0;
    translate: -50% -100px
  }

  100% {
    opacity: 1;
    translate: -50% 100px
  }
}

@keyframes slide-out {
  to {
    translate: -50% -1000px;
  }
}

@keyframes rotate-loader {
  to {
    rotate: 360deg;
  }
}

@keyframes open-transcript {
  0% {
    translate: 100% 0;
  }

  100% {
    translate: 0;
  }
}

@keyframes typewriter {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes cursor-blink {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(0, 0, 0);
  }
}

@keyframes transcript-slide-out {
  0% {
    translate: 0;
  }

  100% {
    translate: 0 110%;
  }
}

@keyframes bulge {
  50% {
    scale: 1.2;
  }
}